<h1>商品詳細</h1>

<%= image_tag @item.image, size: "200x200" %>
<h2>商品名</h2>
<P><%= @item.name %></P>
<h2>商品説明</h2>
<P><%= @item.introduction %></P>
<h2>ジャンル</h2>
<P><%= @item.genre.name %></P>
<h2>税込価格（税抜き価格）</h2>
<p><%= @item.add_tax_price.to_s(:delimited) %> </p>
<p><%= @item.price %>円</p>
<h2>販売ステータス</h2>
<% if @item.is_active %>
  <p><strong>販売中</strong></p>
<% elsif %>
  <p><strong>販売停止中</strong></p>
<% end %>


<%= link_to '編集する', edit_admin_item_path(@item) %>
