<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h3>注文履歴詳細</h3>
        </div>
        <div class="card-body">

          <div class="mb-4">
            <h5>会員情報</h5>
            <% first_order_detail = @order_details.first %>
            <% if first_order_detail.present? %>
              <table class="table">
                <tr>
                  <th>購入者</th>
                  <td><%= link_to @order.name, admin_customers_path %></td>
                </tr>
                <tr>
                  <th>注文日</th>
                  <td><%= first_order_detail.order.created_at.strftime("%Y/%m/%d") %></td>
                </tr>
                <tr>
                  <th>配送先</th>
                  <td><%= "〒" + first_order_detail.order.postal_code + " " + first_order_detail.order.address %></td>
                </tr>
                <tr>
                  <th>支払方法</th>
                  <td><%= first_order_detail.order.payment_method_i18n %></td>
                </tr>
                <tr>
                  <th>ステータス</th>
                  <td>
                    <%= form_with model: first_order_detail.order, url: admin_order_path(first_order_detail.order), method: :patch do |f| %>
                      <%= f.select :status, ["入金待ち","入金確認", "製作中", "発送準備中", "発送済み"] %>
                      <%= f.submit "更新", class: "btn btn-success btn-sm" %>
                    <% end %>
                  </td>
                </tr>
              </table>
            <% end %>
          </div>

          <div class="mb-4">
            <h5>商品情報</h5>
            <% @order_details.each do |order_detail| %>
              <table class="table">
                <tr>
                  <th>商品名</th>
                  <td><%= order_detail.item.name %></td>
                </tr>
                <tr>
                  <th>税込価格</th>
                  <td><%= number_to_currency(order_detail.item.price) %></td>
                </tr>
                <tr>
                  <th>数量</th>
                  <td><%= order_detail.amount %>個</td>
                </tr>
                <tr>
                  <th>小計</th>
                  <td><%= number_to_currency(order_detail.amount * order_detail.item.price) %></td>
                </tr>
                <tr>
                  <th>ステータス</th>
                  <td>
                    <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                      <%= f.select :making_status, ["着手不可", "製作待ち", "製作中", "製作完了"] %>
                      <%= f.submit "更新", class: "btn btn-success btn-sm" %>
                    <% end %>
                  </td>
                </tr>
              </table>
            <% end %>
            <table class="table">
              <tr>
                <th>商品合計</th>
                <td><%= number_to_currency(@order.total_payment) %></td>
              </tr>
              <tr>
                <th>送料</th>
                <td><%= number_to_currency(@order.shipping_cost) %></td>
              </tr>
              <tr>
                <th>請求金額</th>
                <td><%= number_to_currency(@order.total_payment + @order.shipping_cost) %></td>
              </tr>
            </table>
          </div>

          <div class="row">
            <div class="col text-center">
              <%= link_to '戻る', admin_root_path, class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
