<div class="container">
  <div class="row">

  <div class="col-md-12">
    <h3>注文情報確認</h3>

    <table class="table">
      <tr>
        <td>商品名</td>
        <td>単価(税込)</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag cart_item.item.get_image, size: "100x80" %>
        <strong><%= cart_item.item.name %></strong>
      </td>
      <td><%= cart_item.item.add_tax_price %>円</td>
      <td><%= cart_item.amount %>個</td>
      <td><%= cart_item.item.add_tax_price * cart_item.amount %>円</td>
    </tr>
  <% end %>

    </table>

    <table class="table">
      <tr>
        <td>送料</td>
        <td><%= @order.shipping_cost %>円</td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @cart_items_price %>円</td>
      </tr>
      <tr>
        <td>請求額</td>
        <td><%= @order.total_payment %>円</td>
      </tr>
    </table>
     <h4>支払方法</h4>
      <table class="table">
        <tr>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>

      <h4>お届け先</h4>
      <table class="table">
        <tr>
          <td><%= @order.postal_code + @order.address + @order.name %></td>
        </tr>
      </table>
      <div class="row">
        <div class="col">
          <%= link_to '入力画面に戻る', new_order_path, class: 'btn btn-secondary' %>
        </div>
      </div>
      <div class="row justify-content-center">
      <%= form_with model: @order, url: orders_path(@order.id), method: :post do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :total_payment %>
        <%= f.hidden_field :shipping_cost %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :status %>
        <%= f.submit "注文を確定する", class: "btn btn-success" %>
      <% end %>
  </div>
  </div>
</div>