
<div class="container">
  <div class="row">
    <div class="offset-1 col">
      <h3><strong class="bg-secondary text-light">注文情報入力</strong></h3>
        <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
    </div>
  <div class="col-md-12">
    <h3><strong>支払方法</strong></h3>
     <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true  %>
     <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    <br>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>


    <div>
    <h3><strong>お届け先</strong></h3>
    <%= f.radio_button :address_type, "customer_address", checked: true, id: "customer_address_radio" %>
    <%= f.label :address_type, "ご自身の住所", for: "customer_address_radio" %>
    〒<%= (current_customer&.postal_code || "") + "　" + (current_customer&.address || "") + "　" + (current_customer&.last_name || "") + (current_customer&.first_name || "") %>
    </div>
    <br>
    
    <%= f.radio_button :address_type, [:registered_address], id: "registered_address_radio" %>
    <%= f.label :address_type, "登録済住所から選択", for: "registered_address_radio" %>
    <%= f.select :registered_address_id, current_customer.addresses.all.map { |m| [[m.postal_code, m.address, m.name].join(" "), m.id] } ,include_blank: "登録してある配送先住所から選択" %>
    <br>
    
    <%= f.radio_button :address_type, "new_address", id: "new_address_radio" %>
    <%= f.label :address_type, "新しいお届け先", for: "new_address_radio" %>
    <table>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :new_postal_code, placeholder: "0000000" %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :new_address , placeholder:"東京都渋谷区代々木神園町0-0" %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field  :new_name  , placeholder:"令和花子"%></td>
      </tr>
    </table>
    <br><br>

    <div class="row">
        <div class="col">
          <%= link_to 'カートに戻る', cart_items_path, class: 'btn btn-secondary' %>
        </div>
      </div><br>

    <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
    <% end %>

  </div>

  </div>
</div>
