<%= image_tag @item.image, size: "200x200" %>
<h2><%= @item.name %></h2>
<P><%= @item.introduction %></P>
<p>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</p>



<%= link_to '編集する', edit_admin_item_path(@item) %>
