<!DOCTYPE html>
<html>
<head>
  <title>NaganoCake</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/28e899c482.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&family=Kiwi+Maru:wght@500&family=Shippori+Mincho:wght@500&display=swap" rel="stylesheet">
  <style>
    header {
      background: -webkit-linear-gradient(90deg, rgb(171, 154, 134), rgb(252, 252, 252));
      background: linear-gradient(90deg, rgb(171, 154, 134), rgb(252, 252, 252));
      margin: 0;
      padding: 0;
      height: 132px;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div class="col d-flex justify-content-between align-items-center">
          <div class="logo" style="text-align: left; font-size: 36px; font-weight: bold; display: flex; align-items: center;">
            <p style="margin: 0;">ながのCAKE</p>
          </div>
          <ul class="nav">
            <% if customer_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", customers_my_page_path, class: "btn btn-outline-custom mr-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", items_path, class: "btn btn-outline-custom mr-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "カート", cart_items_path, class: "btn btn-outline-custom mr-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-custom" %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
              </li>
            <% else %>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <li class="nav-item">
                <%= link_to "About", root_path, class: "btn custom-button mr-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", items_path, class: "btn custom-button mr-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "カート", cart_items_path, class: "btn custom-button mr-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "btn custom-button" %>
              </li>
            </div>
            <% end %>
          </ul>
        </div>
        <!-- 検索機能 -->
        <div class="col mt-2">
          <%= form_with url: items_path, method: :get, local: true do |f| %>
            <div class="row justify-content-end">
              <div class="col-md-6">
                <div class="d-flex justify-content-between align-items-center">
                  <% if customer_signed_in? %>
                    <p>ようこそ<%= current_customer.last_name %>さん！</p>
                  <% end %>
                  <div class="input-group">
                    <%= f.text_field :q, class: "form-control", placeholder: "Search", value: "" %>
                    <div class="input-group-append" style="background-color: #CFD2CF; border-radius: 5px;">
                      <%= button_tag(type: "submit", class: "btn btn-outline-custom btn-sm") do %>
                        <i class="fas fa-search"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <%= yield %>
  <div class="footer" style="height: 100px;">
  <div style="height: 30px; background-color: white;"></div>
  <div style="height: 70px; background-color: #D3CBC1 ;"></div>
  </div>
</body>
</html>

